<!-- <div class="container">
        <div class="row">
          <div class="col-md-12 user-repos">
            <h3 >Repositories</h3>
            <div class="table">
              <table class="table">
                <tbody>
                  <tr *ngFor='let repo of myRepos'>
                    <td>
                      <a href="{{repo.html_url}}" target="_blank" >{{repo.name}}</a>
                      <br>
                      <p class="desc">Description: {{repo.description}}</p>
                      <br>
                      <p>Date Created: {{repo.created_at | date}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> -->
