
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" >Github Users</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLinkActive = 'active' href = '/home'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive = 'active' href = '/search'>Search</a>
            </li>
            </ul>
      </div>

