<app-user-search (gitUser) = 'gitUserName($event)'></app-user-search>
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="{{resultDisplay.avatar}}" alt="">
      </div>
        <div class="col-md-8 ">
          <div class="table me">
            <h3 appHighlight >{{resultDisplay.gitHubUserName}}</h3>
            <table class="table info-bio">
              <tbody>
                <tr>
                  <th scope="row">Github Username:</th>
                    <td>{{resultDisplay.gitHubUserName}}</td>
                </tr>
                <tr>
                  <th scope="row">Number of Repos:</th>
                    <td>{{resultDisplay.repos}}</td>
                </tr>
                <tr>
                  <th scope="row">Date created:</th>
                    <td>{{resultDisplay.createOn | date}}</td>
                </tr>
                <tr>
                  <th scope="row">Followers:</th>
                    <td>{{resultDisplay.followers }}</td>
                </tr>
                <tr>
                  <th scope="row">Following:</th>
                    <td>{{resultDisplay.following}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>
<div class="container">
        <div class="row">
          <div class="col-md-12 user-repos">
            <h3 id="repo">Repositories</h3>
            <div class="table">
              <table class="table">
                <tbody>
                  <tr *ngFor='let repo of myRepos'>
                    <td>
                      <a href="{{repoDisplay.html_url}}" target="_blank" >{{repoDisplay.name}}</a>
                      <br>
                      <p class="desc">Description: {{repoDisplay.description}}</p>
                      <br>
                      <p>Date Created: {{repoDisplay.created_at | date}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
