<app-user-search (gitUser) = 'gitUserName($event)'></app-user-search>
<div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="" alt="">
          </div>
            <div class="col-md-8 ">
              <div class="table me">
                <h3></h3>
                <table class="table info-bio">
                  <tbody>
                    <tr>
                      <th scope="row">Github Username:</th>
                        <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Number of Repos:</th>
                        <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Date created:</th>
                        <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Followers:</th>
                        <td></td>
                    </tr>
                    <tr>
                      <th scope="row">Following:</th>
                        <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </div>
    </div>
{{resultDisplay.gitHubUserName}}